{% extends "base.html" %}

{% block content %}

<h1>Edit a user</h1>

<form method="POST" action="/users/{{ user.id }}/edit">

  <label for="first_name">First Name</label>
  <input type="text" name="first_name" value="{{ user.first_name }}">

  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" value="{{ user.last_name }}">

  <label for="image_url">Image URL</label>
  <input type="URL" name="image_url" value="{{ user.image_url }}">

  <button type="submit">Save</button>

</form>

<form action="/users/{{ user.id }}">
  <button type="submit">Cancel</button>
</form>
  <!-- link, use bootstrap to look like link -->

{% endblock %}